/*
Theme Name: Festival
Theme URI: http: //floridawinefest.org
Author: Chris Flannagan
Author URI: http: //facebook.com/brewcast
Description: This theme was custom build for a wine festival but is suited for any event site or other kind of web site
Version: 1.0
License: GNU General Public License v2 or later
License URI: http: //www.gnu.org/licenses/gpl-2.0.html
Tags: single-column, custom-header, no-sidebar, responsive, mobile-friendly, top-navigation
Text Domain: festival

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body { 
    font-size: 10pt;
    font-family: arial,sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-attachment:fixed;
}

a, a:visited {
    color: #BF3131;
}

.alignright {
    float:right;
    margin-left:10px;
    margin-bottom:10px;
}

.alignleft {
    float:left;
    margin-right:10px;
    margin-bottom: 10px;
}

#wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.3);
	margin-top:50px;
}

/* pages */

#page-header {
    height: 100px;
    padding: 10px;
}

#page-header .top-logo {
    height: 100px;
	max-width: 20%;
    width: auto;
    float: left;
	border: 0px;
}

#page-header .featured_textarea {
	width: 75%;
	text-align: right;
    float: right;
    color: #FFF;
    text-decoration: none;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 3px;
    font-style: italic;
    text-shadow: -1px -1px 0 #16669E, 1px -1px 0 #032A46, -1px 1px 0 #06355D, 1px 1px 0 #032A46, 2px 2px 2px #ccc;
}

/* navigation */

#header {
    background-color: #fbecc1;
    border-right: solid 1px #f2d379;
    border-bottom: solid 1px #f2d379;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 5000;
}

#header div {
    width: 100%;
}

#mobile-menu {
    display: none;
    text-align: center;
}

#primary-menu {
    display: table;
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#primary-menu li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-left: solid 1px #f2d379;
}

#primary-menu li a {
    text-decoration: none;
    color: #2A64AB;
    font-family: arial,sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

#main {
    background-color: rgba(255,255,255,0.9);
    padding: 15px;
    font-size: 14px;
    line-height: 1.3;
}

h1 {
    color: #802121;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333, 2px 2px 2px #ccc;
}

/* homepage */

#col1, #col2 {
    width: 300px;
    margin-left: 15px;
    margin-top: 10px;
    float: left;
}

#col3 {
    width: 437px;
    margin-left: 15px;
    margin-top: 10px;
	margin-bottom: 10px;
    float: left;
    background-color: rgba(255, 255, 255, 0.7);
}

#col3 img {
	width:100%;
	height:auto;
}

#page_content {
    padding: 10px;
    font-size: 12pt;
}

#logo img{
    width: 100%;
}

#slides img {
    width: 100%;
    height: 420px;
}

#featured_textarea {
    text-align: center;
    color: #FFF;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333, 2px 2px 2px #ccc;
}

.tickets {
    background-color: #fcd76d;
    border: solid 1px #675d28;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 15px;
}

.tickets a {
    color: #fbecc1;
    text-decoration: none;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 #675d28, 1px -1px 0 #675d28, -1px 1px 0 #675d28, 1px 1px 0 #675d28, 2px 2px 2px #A96D00;
}

.hp_products {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.hp_products li {
    list-style-type: none;
    background-color: #fbecc1;
    border: solid 1px #675d28;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.hp_products li a {
    color: #fcd76d;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 #675d28, 1px -1px 0 #675d28, -1px 1px 0 #675d28, 1px 1px 0 #675d28, 2px 2px 2px #A96D00;
}

.sy-box {
	margin-bottom: 11px;
}

/* Listings page */



.fest_listing {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.fest_listing li {
    list-style-type: none;
    background-color: #fbecc1;
    border: solid 1px #675d28;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
}

.fest_listing_title_link {
    color: #fcd76d;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 #675d28, 1px -1px 0 #675d28, -1px 1px 0 #675d28, 1px 1px 0 #675d28, 2px 2px 2px #A96D00;
}
.fest_listing_title_link:visited {
    color: #fcd76d;
}

.fest_listing li img {
	vertical-align:middle;
	float:left;
	margin-right:20px;
	border: solid 1px #333;
    -moz-box-shadow: -4px -4px #666;
    -webkit-box-shadow: -4px -4px #666;
    box-shadow: -4px -4px #666;
}

.fest_more_link {
	color: #802121;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
}

/* Footer settings */

#footer {
    padding:15px;
    background-color:#333;
    color:#fff;
    font-weight:bold;
    text-align:center;
}

#footer a {
    color:#ccc;
}

/* Responsive Settings */

/* Tablet/small monitor */
@media screen and (max-width: 1099px) {
    #col2 {
        width: 500px;
    }
    #col3 {
    clear: both;
        float: none;
        margin: 0 auto;
        margin-top: 15px;
        width: 90%;
    }
}

/* large phone/small tablet */
@media screen and (max-width: 860px) {
    #col2 {
        width: 360px;
    }
    #col3 {
    clear: both;
        float: none;
        margin: 0 auto;
        margin-top: 15px;
        width: 90%;
    }
}
@media screen and (max-width: 719px) {
    #col1, #col2 {
        width: 300px;
        display: block;
        float: none;
        margin: 0 auto;
        margin-top: 15px;
    }
    #col3 {
		clear: both;
        float: none;
        margin: 0 auto;
        margin-top: 15px;
        width: 90%;
    }
	
	.size-medium {
		max-width: 50%;
		height: auto;
	}
	
	.size-thumbnai {
		max-width: 33%;
		height: auto;
	}
	
	#page-header .top-logo {
		max-width: 100%;
	}

	#page-header .featured_textarea {
		display: none;
	}
    
    /* mobile nav */
    
    #mobile-menu {
        display: block;
    }
    
    #primary-menu {
        display: none;
        width: 100%;
        height: 100%;
    }

    #primary-menu li {
        display: block;
        width: 100% !important;
        border-bottom: solid 1px #f2d379;
        box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
        inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
    }
    #primary-menu li:first-child {
        border-top: solid 1px #f2d379;
    }

    #primary-menu li a {
        font-size: 14px;
    }
}